<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PioTube - A juketube Play your music endlessly</title>
    <meta name="description" content="Play your music endlessly from Youtube">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/animate.css/animate.css"/>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="jukeboxApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
        <div class="brand">
            <span>PIO</span>
            <!--<span>I</span>-->
            <!--<span>O</span>-->
            <span><i class="fa fa-video-camera"></i></span>
        </div>
        <div class="right-component">
            <!--<input type="text" ng-model="query" class="box-search"/>-->
        </div>
    </div>
    <div class="clear:both"></div>
    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">
        <div ng-include src="/views/partial/list-youtube-result.html">

        </div>
        <div class="tube-box">
            <div id="player">
                <div id="placeholder"></div>
                <div id="playlist">
                    <div class="video-playing" ng-show="upcoming.length > 0">
                        <div class="title pull-left">{{upcoming[0].title}}</div>
                        <div class="playing-icon pull-right">
                            <i class="fa fa-play"></i>
                        </div>

                    </div>
                    <div class="video-upcoming" ng-repeat="video in upcoming track by $index" ng-if="$index>0">
                        <div class="title pull-left" ng-click="play($index)">{{video.title}}</div>
                        <i class="fa fa-times-circle fa-2x pull-right delete-icon" ng-click="deleteUpcoming($index)"></i>
                    </div>
                </div>
            </div>
            <div id="addition">
                <div class="function-bar clear-fix">
                    <input type="text" class="box-search" placeholder="Song Search" ng-model="queryWord"
                           typeahead="query for query in suggestQueries($viewValue) | filter:$viewValue"
                           typeahead-on-select="search(queryWord)" ng-focus="searchBoxFocus()"/>
                    <div class="top-nav">
                        <span class="relate" ng-click="relateTabClick()" ng-class="{'active':tab===1}">
                            Relate <i class="fa fa-magic" ng-class="{'new-relate animated flash':newRelates}"></i>
                        </span>
                        <span class="history" ng-click="historyTabClick()" ng-class="{'active':tab===2}">
                            History <i class="fa fa-info"></i>
                        </span>
                    </div>
                </div>
                <div class="content" style="float:left;display:inline-block">
                    <!--hello what i want to say it's too long. I have not space to write it. It isn't normal-->
                    <div ng-show="tab===0">
                        <div class="video-info" ng-repeat="videoData in youtubeResult track by $index" ng-click="queue(videoData)">
                            <div class="thumb">
                                <img class="video-image" ng-src="{{videoData['thumbnail']['sqDefault']}}" />
                                <div class="duration">{{videoData['duration'] | time}}</div>
                                <div class="add-icon">
                                    <i class="fa fa-plus-circle fa-3x" ng-show="indexOf(upcoming, videoData)===-1"> </i>
                                    <i class="fa fa-check-circle fa-3x" ng-show="indexOf(upcoming, videoData)!==-1"> </i>
                                </div>
                            </div>

                            <div class="video-addition-data">
                                <div class="video-title">
                                        {{videoData['title']}}
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                    <div ng-show="tab===1">
                        <div class="video-info" ng-repeat="videoData in youtubeRelate track by $index" ng-click="queue(videoData)">
                            <div class="thumb">
                                <img class="video-image" src="{{videoData['thumbnail']['sqDefault']}}" />
                                <div class="duration">{{videoData['duration'] | time}}</div>
                                <div class="add-icon">
                                    <i class="fa fa-plus-circle fa-3x" ng-show="indexOf(upcoming, videoData)===-1"> </i>
                                    <i class="fa fa-check-circle fa-3x" ng-show="indexOf(upcoming, videoData)!==-1"> </i>
                                </div>
                            </div>

                            <div class="video-addition-data">
                                <div class="video-title">
                                    {{videoData['title']}}
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                    <div ng-show="tab===2">
                        <div class="video-info" ng-repeat="videoData in history track by $index" ng-click="queue(videoData)">
                            <div class="thumb">
                                <img class="video-image" src="{{videoData['thumbnail']['sqDefault']}}" />
                                <div class="duration">{{videoData['duration'] | time}}</div>
                                <div class="add-icon">
                                    <i class="fa fa-plus-circle fa-3x"> </i>
                                </div>
                            </div>

                            <div class="video-addition-data">
                                <div class="video-title">
                                        {{videoData['title']}}
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="footer">
            <p>♥ from the Pio team</p>
        </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/youtubeservice.js"></script>
        <script src="scripts/filters/time.js"></script>
        <!-- endbuild -->
</body>
</html>
